<a href="https://colab.research.google.com/github/SibongileT/SpotifyYearEndPlaylistEDA/blob/main/GetPlaylist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install spotipy
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/7a/cd/e7d9a35216ea5bfb9234785f3d8fa7c96d0e33999c2cb72394128f6b4cce/spotipy-2.16.1-py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Installing collected packages: spotipy
Successfully installed spotipy-2.16.1

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
import time

In [3]:
client_id = '91e9c8e7606d4c9496bbe5ac3d214513'
client_secret = 'd09f866740ec45b389eb4e893b358518'
client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager) #spotify object to access API

In [4]:
def get_track_ID(artist,track_name):
    searchResults = sp.search(q='artist:{} track:{}'.format(artist, track_name),limit=1)
    spotifyId =  searchResults['tracks']['items'][0]['id']
    return spotifyId

In [5]:
track = get_track_ID('Jazmine Sullivan','Pick Up your Feelings')

In [66]:
def get_playlist_tracks(playlist_id,username=1266917807):
  sp_playlist = sp.user_playlist_tracks(username,playlist_id)
  tracks = sp_playlist['items']
  track_ids = []
  for track in tracks:
    track_ids.append(track['track']['id'])
  return track_ids

In [67]:
top_tracks_2016_ids = get_playlist_tracks('37i9dQZF1CyKS6vMEvHRnU')

In [69]:
top_tracks_2017_ids = get_playlist_tracks("37i9dQZF1E9EIGIu5XTi5J")

In [70]:
top_tracks_2018_ids = get_playlist_tracks('37i9dQZF1EjwtuYhaVJquD')

In [71]:
top_tracks_2019_ids = get_playlist_tracks('37i9dQZF1EtkhPZyEmZ5Hw')

In [72]:
top_tracks_2020_ids = get_playlist_tracks('37i9dQZF1EM81tFPMDS9R6')

## Using track ids grab rest of individual track information

In [73]:
def get_track_features(id):

    meta = sp.track(id)
    features = sp.audio_features(id)
    analysis = sp.audio_analysis(id)
    # meta
    name = meta['name']
    artist = meta['album']['artists'][0]['name']
    duration_ms = meta['duration_ms']

    # features
    acousticness = features[0]['acousticness']
    danceability = features[0]['danceability']
    energy = features[0]['energy']
    instrumentalness = features[0]['instrumentalness']
    liveness = features[0]['liveness']
    loudness = features[0]['loudness']
    speechiness = features[0]['speechiness']
    tempo = features[0]['tempo']
    time_signature = features[0]['time_signature']
    key = features[0]['key']
    mode = features[0]['mode']
    valence = features[0]['valence']

    #audio anaylsis
    chorus_hit = analysis['sections'][0]['duration']*2
    sections = len(analysis['sections'])

    track = [name,artist,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,\
    chorus_hit,sections]
    return track

In [74]:
 def get_playlist_df(track_ids,year,playlist_title): 
  tracks = []
  for id in track_ids:
    time.sleep(.5)
    track = get_track_features(id)
    track.append(year)
    track.append(playlist_title)
    tracks.append(track)
  # create dataset
  df = pd.DataFrame(tracks, columns = ['name','artist','danceability','energy','key','loudness','mode','speechiness','acousticness','instrumentalness','liveness','valence','tempo','duration_ms','time_signature',\
      'chorus_hit','sections','year','playlist_title'])
  return df

## Get Dataframes for each year

In [75]:
playlist_2016_df = get_playlist_df(top_tracks_2016_ids,2016,'Your top songs 2016')

In [76]:
playlist_2016_df.head()

                     name         artist  ...  year       playlist_title
0             Sex With Me        Rihanna  ...  2016  Your top songs 2016
1                    Dope  Fifth Harmony  ...  2016  Your top songs 2016
2       Cranes in the Sky        Solange  ...  2016  Your top songs 2016
3  For Free (feat. Drake)      DJ Khaled  ...  2016  Your top songs 2016
4                   Crush           Yuna  ...  2016  Your top songs 2016

[5 rows x 19 columns]

In [77]:
playlist_2016_df.to_csv('playlist_2016_data.csv')
!cp playlist_2016_data.csv "drive/My Drive/SpotifyEDA"

#### 2017 df

In [78]:
playlist_2017_df = get_playlist_df(top_tracks_2017_ids,2017,'Your top songs 2017')

In [79]:
playlist_2017_df.head()

                                       name  ...       playlist_title
0                                   Redbone  ...  Your top songs 2017
1  Doves In The Wind (feat. Kendrick Lamar)  ...  Your top songs 2017
2                               I Found You  ...  Your top songs 2017
3                  Garden (Say It Like Dat)  ...  Your top songs 2017
4                                      Love  ...  Your top songs 2017

[5 rows x 19 columns]

In [80]:
playlist_2017_df.to_csv('playlist_2017_data.csv')
!cp playlist_2017_data.csv "drive/My Drive/SpotifyEDA"

#### 2018 df

In [81]:
playlist_2018_df = get_playlist_df(top_tracks_2018_ids,2018,'Your top songs 2018')

In [82]:
playlist_2018_df.head()

                                   name  ...       playlist_title
0                            Bickenhead  ...  Your top songs 2018
1  Happy Without Me (feat. Joey Bada$$)  ...  Your top songs 2018
2              Best Part (feat. H.E.R.)  ...  Your top songs 2018
3              Garden (Say It Like Dat)  ...  Your top songs 2018
4                  Crazy, Classic, Life  ...  Your top songs 2018

[5 rows x 19 columns]

In [84]:
playlist_2018_df.to_csv('playlist_2018_data.csv')
!cp playlist_2018_data.csv "drive/My Drive/SpotifyEDA"

#### 2019 df

In [83]:
playlist_2019_df = get_playlist_df(top_tracks_2019_ids,2019,'Your top songs 2019')

In [85]:
playlist_2019_df.head()

                            name  ...       playlist_title
0       Cash Shit (feat. DaBaby)  ...  Your top songs 2019
1  Tia Tamera (feat. Rico Nasty)  ...  Your top songs 2019
2                          Juice  ...  Your top songs 2019
3                    Truth Hurts  ...  Your top songs 2019
4                         Act Up  ...  Your top songs 2019

[5 rows x 19 columns]

In [86]:
playlist_2019_df.to_csv('playlist_2019_data.csv')
!cp playlist_2019_data.csv "drive/My Drive/SpotifyEDA"

#### 2020 df

In [87]:
playlist_2020_df = get_playlist_df(top_tracks_2020_ids,2020,'Your top songs 2020')

In [88]:
playlist_2020_df.head()

                    name               artist  ...  year       playlist_title
0           Captain Hook  Megan Thee Stallion  ...  2020  Your top songs 2020
1  Find Someone Like You         Snoh Aalegra  ...  2020  Your top songs 2020
2                   1950        King Princess  ...  2020  Your top songs 2020
3           Fool For You         Snoh Aalegra  ...  2020  Your top songs 2020
4      I Want You Around         Snoh Aalegra  ...  2020  Your top songs 2020

[5 rows x 19 columns]

In [ ]:
playlist_2020_df.to_csv('playlist_2020_data.csv')
!cp playlist_2020_data.csv "drive/My Drive/SpotifyEDA"

## Join the dataframes toghether

In [89]:
playlist_df = playlist_2016_df.append(playlist_2017_df)

In [91]:
playlist_df = playlist_df.append(playlist_2018_df)

In [92]:
playlist_df = playlist_df.append(playlist_2019_df)
playlist_df = playlist_df.append(playlist_2020_df)

In [94]:
playlist_df.to_csv('playlist_data.csv')
!cp playlist_data.csv "drive/My Drive/SpotifyEDA"

In [95]:
playlist_df.head()

                     name         artist  ...  year       playlist_title
0             Sex With Me        Rihanna  ...  2016  Your top songs 2016
1                    Dope  Fifth Harmony  ...  2016  Your top songs 2016
2       Cranes in the Sky        Solange  ...  2016  Your top songs 2016
3  For Free (feat. Drake)      DJ Khaled  ...  2016  Your top songs 2016
4                   Crush           Yuna  ...  2016  Your top songs 2016

[5 rows x 19 columns]

In [101]:
playlist_df['artist'].value_counts().nlargest(20)

Megan Thee Stallion    20
Lizzo                  16
Ariana Grande          13
Solange                13
Snoh Aalegra           12
Kehlani                11
Chloe x Halle          11
Childish Gambino       11
Jill Scott              9
SZA                     9
Lianne La Havas         8
Leon Bridges            7
Frank Ocean             7
Lorde                   7
Dreamville              6
Various Artists         6
H.E.R.                  6
Drake                   6
6LACK                   6
Doja Cat                6
Name: artist, dtype: int64

In [98]:
playlist_df['name'].value_counts()

The Way                                4
Pretty Little Fears (feat. J. Cole)    3
This Feeling                           3
Fast Car                               3
Mad (feat. Lil Wayne)                  3
                                      ..
Shallow - Radio Edit                   1
Slide (feat. Frank Ocean & Migos)      1
Sorry                                  1
Let Me Love You                        1
B.S. (feat. H.E.R.)                    1
Name: name, Length: 448, dtype: int64

In [104]:
playlist_df.groupby(by=["artist"]).year.count()

artist
2 Chainz        2
21 Savage       1
6LACK           6
A$AP Ferg       1
Adele           2
               ..
Yola            1
Young Thug      1
Yuna            1
ZAYN            3
benny blanco    1
Name: year, Length: 177, dtype: int64